<% content_for :title do %>Pua'ikeana | Home <% end %>
<div class="container">
	
  <style>
	  	body {
	    	background-image: url("/assets/ocean.JPG");
		}
		h1 {text-align:center;}
		.carousel-inner > .item > img,
		  .carousel-inner > .item > a > img {
		      width: 65%;
		      margin: auto;
		  }
		   .carousel-caption {
		    z-index: 10;
		}
	
		img {
		    background: white;
		}
  </style>
  <h1>WE ARE PUA'IKEANA</h1>	
  <br>
  <body>

	  <div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <!-- Indicators -->
	    <ol class="carousel-indicators">
	      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	      <li data-target="#myCarousel" data-slide-to="1"></li>
	      <li data-target="#myCarousel" data-slide-to="2"></li>
	    </ol>

	    
	    <!-- Wrapper for slides -->
	    <div class="carousel-inner" role="listbox">
	      <div class="item active">
	        <img src="/assets/hawaii_club.jpg" width="460" height="345">
	      </div>

	      <div class="item">
	        <img src="/assets/hallway.jpg" width="460" height="345">
	      </div>
	    
	      <div class="item">
	        <img src="/assets/kupuae.jpg" width="460" height="345">
	      </div>
	    </div>

	    <!-- Left and right controls -->
	    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	      <span class="sr-only">Previous</span>
	    </a>
	    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      <span class="sr-only">Next</span>
	    </a>
	  </div>
  </body>
</div>
