<% content_for :title do %>Pua'ikeana | About<% end %>
<style>
	h3{text-align: center;}
	p{text-align: center;}
</style>
<body>
<div class="container">
<h3>OUR MISSION</h3>
<img src=/assets/logo.png width=200 height=400>
<p>
	Pua'ikeana is the Hawai'i Club at Chapman University. <br>We are dedicated to educating students and the community about the Hawaiian culture through social events and community service. <br>Our goal is to spread the aloha spirit wherever we go!
</p>
</div>
</body>

