<%# add navigation links to this file %>
<li><a href="/pages/about">About Us</a></li>
<li><a href="/our_team/index">Meet the Team</a></li>
<li><a href="/our_team/index">Events</a></li>
<li><a href="/our_team/index">Shop</a></li>

